<div class="matches">
    <a href="/matches">
    <header>{{likedProfile.first_name}} {{likedProfile.last_name}}, {{likedProfile.age}}</header>
     <p>Pronouns: {{likedProfile.pronouns}}</p>
     <p>Location: {{likedProfile.location}}</p>
     <p>Green Flag: {{likedProfile.green_flag}}</p>
     <p>Yellow Flag: {{likedProfile.yellow_flag}}</p>
     <p>Red Flag: {{likedProfile.red_flag}}</p>
    </a>
</div>