<section class="card">
  <a href="/dashboard/random">
    <header>{{profile.first_name}} {{profile.last_name}}, {{profile.age}}</header>
     <p>Pronouns: {{profile.pronouns}}</p>
     <p>Location: {{profile.location}}</p>
     <p>Green Flag: {{profile.green_flag}}</p>
     <p>Yellow Flag: {{profile.yellow_flag}}</p>
     <p>Red Flag: {{profile.red_flag}}</p>
  </a>
</section>
